.c640 {
	display: block;
}

@media (max-width: 640px) {

.c640 {
display: none;
}

}


.button-proximo {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #b23e35;
}.cbutton-proximo:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.button-proximo:active {
	position:relative;
	top:1px;
}


body{
    background: rgb(12, 12, 12);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 5px;
    padding: 30px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    text-align: justify;
    font-style: Arial;
   
}

footer {
    color: rgb(141, 136, 136);
    text-align: center;
    font-style: italic;

}



.resultado {
    /*box-shadow:inset 500px 5px 5px 5px #bbdaf7;*/
	/*background:linear-gradient(to bottom, #79bbff 5%, #f0f1f3 5%);*/
	/*background-color:#c22a2a;*/
	border-radius:3px;
	/*border:1px solid #a51029;*/
	display:inline-block;
	cursor:pointer;
	font-family:Sans-serif;
	font-size:27px;
	padding:6px 5px;
	text-decoration:none;
    text-align: center;
    
}

.imagem {
	display: block;
    margin-left: auto;
    margin-right: auto;
}